
.cart_container{
    display: flex;
    margin: 1rem 0;
    overflow-y: scroll;
  

}
.cart_element{
width: 60%;
margin: 1rem;

}
.element_details{
    margin: 1.5rem;
    padding: 1rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.Cart_details h6{
    font-size: 1.5rem;
     
}
.Cart_details p{
    font-size: 1.2rem;
}
.Cart_details > button{
    background-color: goldenrod;
    padding: 0.5rem;
    width: 50%;
    border: none;
    margin: 1rem 0;
    border-radius: 15px;
}
.quantity{
    padding: 0.5rem;
}
.quantity select{
    padding: 0.5rem;
    margin: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

}
.quantity button{
    padding: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin: 0.5rem;
    border: none;
    font-weight: 600;
    font-size: 20px;
}
.payment_box{
width: 30%;
height: 20%;
margin: 1rem 0;
background-color: rgb(215, 236, 255);
padding: 1.5rem;
text-align: left;
}
.payment_box a{
    background-color: goldenrod;
    padding: 0.5rem;
    text-decoration: none;
    color: black;
    width: 50%;
    border: none;
    margin: 1rem 0;
    border-radius: 15px;
}
.element_details{
    display: flex;
}
.Cart_img {
    margin: 0 .5rem;
}
.Cart_img img{
object-fit: contain;
width: 50%;
height: 100%;
margin: 1rem;

}