.navbar {
  position: sticky !important;
  top: 0;
  display: flex;
  background-color: #263344;
  color: white;
  height: 8vh;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  /* align-items: center; */
  z-index: 500;
  text-transform: capitalize;
 
}
.logo {
  display: flex;
  height: 40px;
  width: 90px;
  margin-left: 0.5rem;
  margin-bottom: 17.5rem;
  /* border: 2px solid gray; */
}
.logoImage {
  /* border: 2px solid red; */
  width: 90px !important;
  object-fit: cover;
  height: 40px;
  border-radius: 15px;
}
.location {
  display: flex;
  margin-bottom: 16rem;
  margin-left: -6.5rem;
}
.loc{
  font-size: small;
  margin-bottom: 1.8rem;
  margin-left: 3rem;
  width: 200px;
  height: 30px;
  align-items: center;
}
.l{
  margin-top: 7px;
}
.location p{
  display: flex;
  flex-direction: column;
}
.location svg {
  font-size: 1.2rem;
  font-weight: 800;
  margin-right: 0.3rem;
  margin-bottom: 1rem !important;
}
.name{
  color: rgb(176, 175, 175);
  font-size: small;
  margin-left: 1.5rem;
  margin-bottom: -0.3rem;

}
.currentLocation{
  display: flex;
  font-size: 14px;
}
.seachBar {
  display: flex;
  width: 50%;

  background-color: aliceblue;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 18rem;
  margin-left: -3.5rem;
 
}
.seachBar select {
  height: 100%;
  border: none;
  background-color: rgb(228, 228, 226);
}

.right {
  font-size: 15px;
  display: flex;
  /* align-items: center; */
  margin-bottom: 18rem;
  height: 100%;
  margin-right: 8rem;
  /* border: 2px solid red; */
}

.seachBar input {
  width: 80%;
  height: 100%;
  border: none;
}
.seachBar div {
  color: rgb(0, 0, 0);
  align-items: center;
  height: 100%;
  background-color: #f89d27;
  background-image: none;
  border: none;
  font-size: 1.3rem;
  font-weight: 900;

  margin-left: 2.7rem;
  z-index: 0;
}
.seachBar div svg {
  text-align: center;
  margin: 0.5rem;
  font-weight: 900;
}
.language {
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-right: 1rem;
  font-size: small;
  margin-left: -3rem;
  /* border: 1px solid red; */
  width: 100px;
}

.language img {
  object-fit: contain;
  width: 30px;
  height: 22px;
  margin-right: 0.5rem;
}
.SignIn {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
}
.SignIn p{
  height: 20px;
  width: 100%;
  /* margin-bottom:4rem !important;  */
 /* border: 1px solid red; */
}
.SignIn span{
 
  color: rgb(176, 175, 175);
  font-size: small;
  margin-left: 0.2rem;
  margin-bottom: -1.7rem !important;
  /* position: absolute; */
  /* bottom: 1.3rem; */
}
.SignIn a{
  height: 20px;
  width: 100%;
  margin-top: -0.1rem;
}
.return {
  margin: 1rem;
  color: white;
  text-decoration: none;
}
.cart {
  /* border: 1px solid red; */
  font-size: larger;
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0.5rem;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;
  width: 80px;
  height: 45px;
}
.cart p {
  margin-bottom: -0.5rem;
  color: white;
  margin-left: 0.5rem;
}
.cart svg {
  font-size: 1.8rem;
  margin-bottom: 1rem;
 color: white;
}
.return2{
  font-size: small;
  margin-bottom: 5px;
}
