.mainContainer {
  display: flex;
  /* margin: 1.5rem; */
  margin-top: 60px;
  margin-bottom: -80px;
}
.products {
  /* border: 1px solid red; */
  z-index: 50;
  background-color: rgb(255, 255, 255);
  width: 500px !important;
  margin: 1rem;
  margin-bottom: 2rem;
  height: 420px;
  padding-bottom: 1.5rem !important;
  text-align: left;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.products h1 {
  font-size: 1.5rem;
  font-family: sans-serif;
  font-weight: 600;
  margin-top: 1rem;
}
.card {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
}

.products h1 {
  margin-left: 1rem;
}
.products a {
  border: none;
  text-align: left;
  margin: 1rem;
  color: rgb(60, 60, 253);
  font-size: 1rem;
  text-decoration: none;
}
.products a:hover{
  text-decoration: underline;
}
.item {
  margin-left: 1rem;
  text-align: left;
}
.sale {
  display: flex;
  flex-direction: column;
}
.sale img {
  object-fit: cover;
  width: 92%;
  height: 300px !important;
  margin: 0 1rem;
}
.item img {
  width: 40%;
  height: 50%;
  height: auto;
  object-fit: contain;
}
.phone {
  object-fit: cover !important;
  width: 120px !important ;
  height: 90px !important ;
}
.right {
  margin-right: 0.5rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  width: 30%;
  height: 100%;
}
.singIn {
  background-color: rgb(255, 255, 255);
  height: 20%;
  text-align: center;

}
.singIn h1 {
  font-size: 1.8rem;
  font-family: sans-serif;
  padding: 0.7rem;
  text-align: left;
}
.singIn button {
  width: 80%;
  padding: 0.4rem;
  background-color: rgb(252, 233, 23);
  border: none;
  border-radius: 15px;
  margin-top: 0.5rem;
  margin-bottom: 2rem !important;
}
.singIn button a {
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
}
.dummyImg {
  object-fit: contain;
 
  margin: 1rem;
  height:30%;
 
}


.toy_section{
  object-fit: cover;
  
  width: 90%;
  height: 100%;
  margin: 1rem;
}
.para{
  margin: 1rem;
  color: blue;
}
.para:hover{
  text-decoration: underline;
}
