.SecondNav {
  display: flex;
  justify-content: space-between;
  margin-top: 0;
  align-items: center;
  background-color: #112c4e;
  color: white;
  font-size: 0.9rem;
  font-family: Arial, sans-serif;
  width: 100%;
  height: 35px;
  padding: 25px;
}
.close{
  display: none;
}
.hide{
  display: none;
}

.SecondNav p {
 
  margin-top: 0.5rem;
  padding: 0.5rem;
  border-radius: 3px;
}
.miniTV a {
  text-decoration: none;
  color: white;
  margin-top: 0.3rem;
  padding: 0.5rem;
  border-radius: 3px;
}
.SecondNav p:hover {
  border: 2px solid white;
}
.SecondNav img:hover {
  border: 2px solid white;
}
.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sidebar svg {
  font-size: 1.7rem;
  margin: 0.5rem;
}
.sidebar:hover {
  border: 2px solid white;
}
.sidebar h5 {
  margin-top: 0.2rem;
}

.hover_img div {
  position: relative;
  padding: 0.3rem;
  border-radius: 3px;
}
.hover_img div span {
  position: absolute;
  display: none;
  z-index: 99;
}
.hover_img img {
  width: 550%;
  height: 550%;
  margin: 1rem;
  border: 20px solid white;
  border-radius: 10px;
  z-index: 10;
}
.hover_img div:hover {
  border: 2px solid white;
}
.hover_img div:hover span {
  display: block;
}
.drawer_box{
  /* background-color: black !important;
  opacity: 0.9; */
  z-index: 1500;
  position: fixed;
 top: 0;
 left: 0;
 width: 100%;
 height: 100%;


  
}
.cross{

position:fixed;
top: 10px;
left:370px;
color: rgb(251, 251, 251);
z-index: 1000;
font-size: 30px !important;
  
}
.drawer{
  position: absolute;
  top: 0;
  left: 0;
  color: black;
  width: 350px;
  height: 100vh;
  z-index: 2000 !important;
  background-color: #ffffff !important;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: left;
  opacity: 1;
  box-shadow: 4px 0 10px 0 rgba(0,0,0,.4)
}
.drawer div{
  border-bottom: 1px solid gray;
}
.profile{
  width: 100%;
  height: 55px;
  background-color: #112c4e;
  display: flex;
  /* justify-content: center; */
  color: white;
  align-items: left;
  z-index: 1000;
  font-size: 25px;
  position: sticky;
  top: 0;
  margin-top: 5px;
  opacity: 10000;
}
.profile h3{
  margin-top: 0.5rem;
}
.profile svg{
  color: aliceblue;
  font-size: 40px;
  margin: 0.5rem;
}
.drawer p{
  font-size: 20px;
  margin-left: 15px;
  margin-top: 10px;
  font-weight: 700;
  
}
.drawer ul li{
  list-style: none;
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  margin-right: 5px;
  width:80%;
  padding: 10px;

}
.drawer ul li:hover{
  background-color:whitesmoke;
}
.new_style{
left: 0 !important;
}
.right{
  background-color: black !important;
  opacity: 0.9;
  z-index: 1500;
  position: absolute;
 top: 0;
 /* left: 670; */
 width: 100%;
 height: 100%;
}
