.footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    text-transform: capitalize;
}
.Top_button{
    width: 100%;
    height: 50px;
    background-color:  #273952;
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.middle_footer{
    
    width: 100%;
    font-family:Arial,sans-serif;
    background-color: #263344;
    height: 320px;
    color:  white;
    display: flex;
    text-align: center;
    justify-content: space-evenly;
}
.middle_footer p{
margin-top: 30px;
}
.middle_footer ul{
    text-align: left;
    text-decoration: none !important;
}
.middle_footer ul a{
    font-size: 20px;
}
.middle_footer ul li{

list-style: none;
margin-top: 5px;
font-size: 13px;
font-family:Arial, Helvetica, sans-serif ;
}
.middle_footer ul li:hover{
    text-decoration: underline;
    text-decoration-skip-ink:all;
}
.amazon_buttons{
    border-top: 0.5px solid gray;
    width: 100%;
    height: 100px;
    background-color: #263344;
    display: flex;
    justify-content: center;
    align-items: center;
}
.amazon_buttons button{
    width: 150px;
    height: 40px !important;
    background:transparent;
    border: 1px solid gray;
    margin: 5px;
    color: white;
}
.amazon_buttons img{
    width: 150px;
    height: 70px;
    object-fit: contain;
}
.main_footer{
    color: white;
    display: flex;
   justify-content: center;
    word-wrap: wrap;
    width: 100%;
    height: auto;
    background-color: #111e2d;
}
.main_footer ul{
    width: 13%;
    margin-top: 1rem;
   
}
.main_footer ul li{
    list-style: none;
    font-size: 13px;
    margin: 1rem;
    width: 70%;
    
}
.main_footer ul li:hover{
    text-decoration: underline;
}
.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    height: auto;
    width: 100%;
    background-color:#111e2d;
   
}
.contact div{
    margin-top: 1rem;
    display: flex;
    justify-content: center;
}
.contact div p:hover{
    text-decoration: underline;
}
.contact div p{
  margin-right: 13px;  
  font-size: 13px;
  margin-bottom: 5px;
}
.contact p{
    font-size: 12px;
    
}