.sign_up_page{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 1px 4px;
    width: 28%;
    margin: auto;
    height: auto;
    padding: 1rem;
    margin-top: 1.5rem;
    border-radius: 15px;
    background-color: white;
}
.sign_up_page img{
    width: 40%;
    margin-top: 1.5rem;
}
.sign_up_form{
    display: flex;
    flex-direction: column;
   
    align-items: center;
   
    
}
.sign_up_form h1{
  
   margin-right: 5.5rem;
   text-align: left !important;
   font-size: 30px;
  
}
.form{
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 1rem 1rem;
}
.form input{
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    font-weight: 600;

}
.form input:focus{
    box-shadow:1px 1px 1px;
    border: 2px solid red;

}
.form label{
    font-weight: 400;
    font-size: medium;
    /* margin: 0.5rem 0; */
    margin-top: 0.8rem;
    margin-bottom: -0.5rem;
}
.form svg{
    font-size: 2rem;
    color:rgb(255, 0, 0);
}

.form button{
    padding: 0.3rem;
    border-radius: 15px;
    background-color: rgb(253, 199, 63);
    border: none;
    cursor: pointer;
    margin: 1.5rem 0;
    font-weight: 500;
}